.ccb_icon_uploader{width:100%;vertical-align:bottom}.ccb_icon_uploader img{max-width:50px}.ccb_content_wrapper{position:relative;padding-bottom:20px;margin-bottom:20px;border-bottom:1px dashed #333}.ccb_content_wrapper select{width:100%}
